body {
  /* background: radial-gradient(ellipse at bottom, #49678a 0%, #090a0f 100%); */
  background: radial-gradient(ellipse at bottom, #ccdcf0 0%, #334557 100%);
}
h6 > a {
  color: black !important;
  text-decoration: none;
}

h6 {
  /* color: #f50057; */
  color: #f1e7ea;
  font-weight: bold;
  text-shadow: grey 0.5px 0 5px;
}

.link {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $hover;
    transform: translateX(-100%);
  }
  &:hover:before {
    transform: translateX(0);
  }
}
